name: RustDesk + Win10

on:
  workflow_dispatch:

jobs:
  run-rustdesk:
    runs-on: windows-2022
    steps:
      - name: Install & Connect Tailscale
        shell: powershell
        run: |
          $tsUrl = "https://pkgs.tailscale.com/stable/tailscale-setup-1.92.3-amd64.msi"
          $installerPath = "$env:TEMP\tailscale.msi"
          Invoke-WebRequest -Uri $tsUrl -OutFile $installerPath
          Start-Process msiexec.exe -ArgumentList "/i", "`"$installerPath`"", "/quiet", "/norestart" -Wait

          & "$env:ProgramFiles\Tailscale\tailscale.exe" up --authkey=${{ secrets.TAILSCALE_AUTHKEY }} --hostname=gh-runner-${{ github.run_id }}

          $tsIP = & "$env:ProgramFiles\Tailscale\tailscale.exe" ip -4
          "TAILSCALE_IP=$tsIP" | Out-File -Append $env:GITHUB_ENV

      - name: Install Telegram + Chrome
        s
